:root{
    --main: #262A53;
    --contrast: #FFA0A0;
    --secondary: #628395;
    --light: #FFE3E3;
}

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: var(--main);
    padding: 15px;
}

h1{
    text-align: center;
}

.visible {
    visibility: visible;
}

.not-visible {
    visibility: hidden;
}

.show {
    display: block;
}

.hide {
    display: none;
}

ul {
    list-style-type: none;
    margin: 0 0 10px 0;
    padding: 0;
}

button{
    padding: 10px 30px;
    background-color: var(--main);
    color: white;
    border: none;
    box-shadow: none;
}

label {
    display: block;
}

label span{
    font-weight: bold;
    color: var(--secondary)
}

select, input{
    margin: 10px 0px;
    padding: 5px;
    border: 1px solid var(--main);
    font-size: 16px;
}

.form-select{
    width: 300px;
    display: inline;
}

.sourceSelect select{
    width: 80vw;
}

a{
    color: var(--secondary);
}

.buttonsContainer{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.buttonsContainer button{
    width: 48%;
    padding: 30px;
    font-size: 20px;
    margin-bottom: 15px;
}

.btn-primary{
    background-color: var(--main) !important;
    border: 1px solid var(--main) !important;
}
