.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card-numbers-container{
    font-size: 20px;
}

.top-buttons-container{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.top-buttons-container button{
    margin: 0px 5px;
}

.main-expression-container{
    text-align: center;
    font-size: 40px;
}

.reading-container{
    text-align: center;
    margin-top: 10px;
}

.data-container{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-details div{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-details button{
    background-color: var(--secondary);
}